

<div class="post">

  <% if current_user%>
  <% @posts.each do |post| %>

      <p><%= link_to post.user.name, user_path(post.user.id) %></p>
      <p><%=link_to post.content, post_path(post.id) %></p>

      <br>
      <%= image_tag post.picture.url if post.picture? %>
      <br>
        <%= date_format(post.created_at) %>



    <% if current_user?(post.user) %>
      <%= link_to "削除", post_path(post.id), method: :delete, data: {confirm: "本当に削除しますか？"}%>
    <%end%>
    <hr />
  <%end%>
  <%end%>
</div>
