<!DOCTYPE html>
<html>
  <head>
    <title>Match</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">

        <div class="headerLogo">
          <%= link_to "match", root_url%>
        </div>

        <div class="headerList">
          <ul>

                <%= link_to  home_about_path do %>
            <li class="fa fa-hea"></li>about
                <%end%>
          <br>
                <%= link_to  contacts_index_path do %>
            <li class="fa fa-envelope"></li>contact
                <%end%>
          <br>
          <% if current_user %>
                <%= link_to users_path do %>
            <li class="fa fa-users"></li>users
                <%end%>
          <br>
                <%= link_to  new_post_path do %>
            <li class="fa fa-edit"></li>post
                <%end%>
          <br>
                <%= link_to  user_path(@current_user.id) do %>
            <li class="fa fa-user"></li><%= @current_user.name%>
                <%end%>
          <br>
                <%= link_to  logout_path, method: :delete do %>
            <li class="fa fa-sign-out"></li>logout
                <%end%>
          <br>
          <%else%>
                <%= link_to  new_user_path do %>
            <li class="fa fa-user-plus"></li>新規登録
                <%end%>
          <br>
                <%= link_to  login_path do %>
            <li class="fa fa-sign-in"></li>login
                <%end%>
          <%end%>
          </ul>
      </div>
    </div>

    <div class="main">
      <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
      <%= yield%>

    </div>


    <div class="footer">


    </div>


  </body>
</html>
